* {
  font-family: sans-serif;
  /* font-size: 1,2rem; */
  color: #666;
}

.media-wrapper {
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.b-rad {
  border-radius: 1em;
  background-color: #fffba6;
  -webkit-box-shadow: 0px 0px 20px -2px rgba(153, 219, 235, 1);
  -moz-box-shadow: 0px 0px 20px -2px rgba(153, 219, 235, 1);
  box-shadow: 0px 0px 20px -2px rgba(153, 219, 235, 1);
}

.b-button,
.b-button:hover {
  color: inherit;
  background-color: #b3c7ff;
  border: none;
}

.bold {
  font-weight: 600;
}
